
/*For Index Landing Page*/
#index{
	background: url("../img/landing.jpeg") no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Biryani', sans-serif;
	height:"100%";
}




/*For Index Landing Page*/
#indexpage{
	height:100px;
}

/*For Index Landing Page*/
.because{
	padding:5px;
	opacity: 0.5;
	filter: alpha(opacity=100); 
	position:relative;
	top:10px;
	color:black;
}

/*For Index Landing Page*/
.because2{
	position:relative;
	top:-195px;
	color:black;
}

/*For Index Landing Page*/
#because,#because2{
	color:black;
	padding-top: 4%;
}

/*For Index Landing Page*/
.up{
	position:relative;
	top:-75px;
}

/*For Index Landing Page*/
#indexbutton{
	width:150px;
}

/*For Index Landing Page*/
#indexcentercol{
	height:300px;
}

/*For Index Landing Page*/
#indexlogo{
	background-color:white;
	width:100%;
	position:relative;
	top:-105px;
	border-width: 5px;
	border-color: white;
}

/*For Index Landing Page*/
#whitespread{
	height:200%;
	width:100%;
	background-color: white;
	position:relative;
	opacity: 0.5;
	filter: alpha(opacity=50); 
}

/*For Index Landing Page*/
.whitevertical{
	background-color: white;
	height:128px;
	width:557px;
}

/*For Index Landing Page*/
#visitus{
	position: relative;
	top:-155px;
}

/*For Home Page*/
#homepageup,#homepagedown{
	height: 25px;
}

/*For All Pages*/
#homelogo,#homelogo2{
	height:45px;
	width:128px;
	position:relative;}

	/*For All Pages*/
	#navbarhome,#navbarhome2{
		height:100%;
		width:100%;
		/*	background-color: lightgrey;*/
	}

	/*For Home Page*/
	#carouselhome{
		height:300px;
	}

	/*For Home Page*/
	#carouselExampleControls{
		height:300px;
	}

	/*For All Pages*/
	footer{
		height:50px;
		color: white;
		line-height: 50px;
		background-color:#487669;
		width:100%;
		padding:10px;
	}

	/*For Home Page*/
	#feat1{
		padding-bottom: 10px;
		padding-top:10px;
		padding-right: 10px;
	}

	/*For Home Page*/
	#feat2{
		padding-bottom: 10px;
		padding-top:10px;
		padding-right: 10px;
	}

	/*For Home Page*/
	#feat3
	{
		padding-bottom: 10px;
		padding-top:10px;
		padding-left: 10px;
	}

	/*For Home Page*/
	#title3,#par3{
		position: relative;
		left:10px;
	}

	/*For Home Page*/
	.hr{
		height:3px;
		background-color: darkgreen;
	}

	/*For All Pages*/
	#navbar-nav,#navbar-nav2{
		z-index=999;
	}

	#embed-responsive-item{
		background-color: white;
	}

	.controls{
		position: absolute;
		left: 0px;
		top: 0px;
		z-index=10000000;
	}

	.controls[data-state=hidden] {
		display:none;
	}

	.controls[data-state=visible] {
		display:block;
	}

	#porm,#mapa,#boton{
		margin:10px;
	}

	#misyionatbisyon{
		margin-top: 20px;
		margin-right: 40px;
		margin-left: 60px;
		margin-bottom: 20px;
	}

	.card-img-top{
		margin-bottom: 10px;
	}

	#wanhundred{
		z-index:100;
		shape-image-threshold: 0.5;
		float: left;
	}

	#putter{
		z-index: 200;
	}

	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		/*padding-top: 100px; *//* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	}

	/* Modal Content (Image) */
	.modal-content {
		margin: auto;
		display: block;
		height:100%;
		width: 150%;
	/*	max-width: 700px;*/
	}

	/* Caption of Modal Image (Image Text) - Same Width as the Image */
	#caption {
		margin: auto;
		display: block;
		width: 80%;
		max-width: 700px;
		text-align: center;
		color: #ccc;
		padding: 10px 0;
		height: 150px;
	}

	/* Add Animation - Zoom in the Modal */
	.modal-content, #caption { 
		animation-name: zoom;
		animation-duration: 0.6s;
	}

	@keyframes zoom {
		from {transform:scale(0)} 
		to {transform:scale(1)}
	}

	/* The Close Button */
	.close {
		position: absolute;
		top: 15px;
		right: 35px;
		color: #f1f1f1;
		font-size: 40px;
		font-weight: bold;
		transition: 0.3s;
	}

	.close:hover,
	.close:focus {
		color: #bbb;
		text-decoration: none;
		cursor: pointer;
	}

	/* 100% Image Width on Smaller Screens */
	@media only screen and (max-width: 700px){
		.modal-content {
			width: 100%;
		}
	}

	.row > .column {
		padding: 0 8px;
	}

	.row:after {
		content: "";
		display: table;
		clear: both;
	}

	/* Create four equal columns that floats next to eachother */
	.column {
		float: left;
		width: 25%;
	}

	/* The Modal (background) */
	.modal {
		display: none;
		position: fixed;
		z-index: 1;
/*		padding-top: 100px;*/
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: black;
	}

	/* Modal Content */
	.modal-content {
		position: relative;
		background-color: #fefefe;
		margin: auto;
		padding: 0;
		width: 90%;
		max-width: 1200px;
	}

	/* The Close Button */
	.close {
		color: white;
		position: absolute;
		top: 10px;
		right: 25px;
		font-size: 35px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: #999;
		text-decoration: none;
		cursor: pointer;
	}

	/* Hide the slides by default */
	.mySlides {
		display: none;
	}

	/* Next & previous buttons */
	.prev,
	.next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -50px;
		color: white;
		font-weight: bold;
		font-size: 20px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		user-select: none;
		-webkit-user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover,
	.next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	/* Number text (1/3 etc) */
	.numbertext {
		color: #f2f2f2;
		font-size: 12px;
		padding: 8px 12px;
		position: absolute;
		top: 0;
	}

	/* Caption text */
	.caption-container {
		text-align: center;
		background-color: black;
		padding: 2px 16px;
		color: white;
	}

	img.demo {
		opacity: 0.6;
	}

	.active,
	.demo:hover {
		opacity: 1;
	}

	img.hover-shadow {
		transition: 0.3s;
	}

	.hover-shadow:hover {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

blink {
    -webkit-animation: 5s linear infinite condemned_blink_effect; // for android
    animation: 5s linear infinite condemned_blink_effect;
}
@-webkit-keyframes condemned_blink_effect { // for android
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}

/*.card{background-color: #a7d883}*/

/*li{
	height:100px;
	width:100px;
	background-color: white;
	border-radius: 100%;
}*/

#lili{
		height:25px;
	width:25px;
	border-radius: 100%;
}


.galleria{
	border-width: 4px;
	border-color: white;
}

.polaroid-images
{
    background: white;
    display: inline;
    float: left;
    margin: 0 15px 30px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
    box-shadow: 0 4px 6px rgba(0,0,0,.3);
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    transition: all .15s linear;
    z-index:0;
        position:relative;
}


/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

	/*For Mobile*/
	@media only screen and (max-width: 400px){

		/*For Index Landing Page*/
		#index{
			background: url("../img/landing.jpeg") center center fixed;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			font-family: 'Biryani', sans-serif;
			height:"100%";
		}

		/*For Index Landing Page*/
		#indexpage{
			height:100px;
		}

		/*For Index Landing Page*/
		.because{
			padding:5px;
			opacity: 0.5;
			filter: alpha(opacity=100); 
			position:relative;
			top:10px;
			color:black;
		}

		/*For Index Landing Page*/
		.because2{
			position:relative;
			top:-195px;
			color:black;
		}

		/*For Index Landing Page*/
		#because,#because2{
			color:black;
			padding-top: 4%;
		}

		/*For Index Landing Page*/
		.up{
			position:relative;
			top:-75px;
		}

		/*For Index Landing Page*/
		#indexbutton{
			width:150px;
		}

		/*For Index Landing Page*/
		#indexcentercol{
			height:300px;
		}

		/*For Index Landing Page*/
		#indexlogo{
			background-color:white;
			width:100%;
			position:relative;
			top:33px;
			left:15px;
			border-width: 5px;
			border-color: white;
		}

		/*For Index Landing Page*/
		#whitespread{
			height:210%;
			width:100%;
			background-color: white;
			position:relative;
			opacity: 0.5;
			filter: alpha(opacity=50); 
		}

		/*For Index Landing Page*/
		.whitevertical{
			background-color: white;
			height:128px;
			width:557px;
		}

		/*For Index Landing Page*/
		#visitus{
			position: relative;
			top:-145px;

		}

		/*For Home Page*/
		#homepageup,#homepagedown{
			height: 25px;
		}

		/*For All Pages*/
		#homelogo,#homelogo2{
			height:45px;
			width:128px;
			position:relative;}

			/*For All Pages*/
			#navbarhome,#navbarhome2{
				height:100%;
				width:100%;
				/*	background-color: lightgrey;*/
			}

			/*For Home Page*/
			#carouselhome{
				height:300px;
			}

			/*For Home Page*/
			#carouselExampleControls{
				height:300px;
			}

			/*For All Pages*/
			footer{
				height:50px;
				color: white;
				line-height: 50px;
				background-color:darkgreen;
				width:100%;
				padding:10px;
			}

			/*For Home Page*/
			#feat1{
				padding-bottom: 10px;
				padding-top:10px;
				padding-right: 10px;
			}

			/*For Home Page*/
			#feat2{
				padding-bottom: 10px;
				padding-top:10px;
				padding-right: 10px;
			}

			/*For Home Page*/
			#feat3
			{
				padding-bottom: 10px;
				padding-top:10px;
				padding-left: 10px;
			}

			/*For Home Page*/
			#title3,#par3{
				position: relative;
				left:10px;
			}

			/*For Home Page*/
			.hr{
				height:3px;
				background-color: darkgreen;
			}

			/*For All Pages*/
			#navbar-nav,#navbar-nav2{
				z-index=999;
			}


		}
		/*For Tablet*/
		@media only screen and (min-width: 401px) and (max-width: 960px){

			/*For Index Landing Page*/
			#index{
				background: url("../img/landing.jpeg")  center center fixed;
				background-size: cover;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;
				font-family: 'Biryani', sans-serif;
				height:"100%";
			}

			/*For Index Landing Page*/
			#indexpage{
				height:200px;
			}

			/*For Index Landing Page*/
			.because{
				padding:5px;
				opacity: 0.5;
				filter: alpha(opacity=100); 
				position:relative;
				top:10px;
				color:black;
			}

			/*For Index Landing Page*/
			.because2{
				position:relative;
				top:-195px;
				color:black;
			}

			/*For Index Landing Page*/
			#because,#because2{
				color:black;
				padding-top: 4%;
			}

			/*For Index Landing Page*/
			.up{
				position:relative;
				top:-75px;
			}


			/*For Index Landing Page*/
			#indexcentercol{
				height:300px;
			}

			/*For Index Landing Page*/
			#indexlogo{
				background-color:white;
				width:100%;
				position:relative;
				top:33px;
				left:15px;
				border-width: 5px;
				border-color: white;
			}

			/*For Index Landing Page*/
			#whitespread{
				width:200%;
				background-color: white;
				position:relative;
				opacity: 0.5;
				filter: alpha(opacity=50); 
				position: relative;
				left:-370px;
			}

			/*For Index Landing Page*/


			/*For Index Landing Page*/
			#visitus{
				position: relative;
				top:-160px;

			}

		}